* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

.navbar a {
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
}

.pdf-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
    margin: 20px 0px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.pdf-list a {
    width: fit-content;
}

.footer {
    text-align: left;
    padding: 20px 0;
    background-color: #f4f4f4;
    color: #000000;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
}